.tbl{
    border-collapse: collapse;
}

.theader{
    background-color: gray;
}
.theader:hover{
    background-color: blue;
}
.rowcls{
    background-color: brown;
}
.rowcls:hover{
    background-color: chocolate;
}